.img-circle
{
border-radius: 50%;
color: black;
background-color: #e9ecef;
text-shadow: 0 0 black;
}
.card {
box-shadow: 0 4px 8px 0 rgba(0,0,0,0);
transition: 0.3s;
width: 100%;
top: 0%;
left: 0%;
transform: translate(0%, 20%);
}

.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
padding: 2px 16px;
}
.notification{
color: #fc0808;
font-size: small;
}